html {
  height: 100%;
}

body {
  font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #FFF;
  color: #555;
}

ul{
  list-style-type: none;
}

ul li {
  margin: 0 0 6px 0;
  padding: 0 0 4px 5px;
  line-height: 1.5em;
}

#header {
  background: #000000;
  border-bottom: 5px solid #c3ffa8;
  height: 177px;
}


#logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background: transparent;
}

#logo #logo_text {
  display: flex;
  margin-left: 3%;
}


#logo h1,
#logo h2 {
  font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0 0 0 9px;
}

#logo_text h1,
#logo_text h1 a,
#logo_text h1 a:hover {
  padding: 22px 0 0 0;
  color: #FFF;
  letter-spacing: 0.1em;
  text-decoration: none;
}






#content {
  text-align: center;
  width: 100%;
  padding: 10% 4em;
  float: left;
}

/* estilos propios */

.menu_propio {
  margin-right: 10%;
}


.nav-link.btn.btn-success {
  color: #ffffff;
  /* Texto en blanco botones menu */
}

/* Ajustes para los enlaces dentro del menú desplegable */
.dropdown-menu .dropdown-item {
  color: #000000;
  /* Color del texto para los enlaces del menú desplegable */
}

#imagen_logo_menu {
  width: 35%;
  height: 85%;
}



footer {
  position: fixed;
  border-top: 5px solid #c3ffa8;
  bottom: 0;
  width: 100%;
  height: 5%;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
}

footer a img {
  width: 2%;
}


#tabla {
  max-width: 800px;
  margin: 0 auto;
}

#tabla td {
  text-align: center;
}


#detalles1{
  display: flex;
  justify-content: center;
}

#detalles2{
  width: 50%;
}